rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    match /checklists/{allPaths=**} {
      // Qualquer usuário autenticado pode fazer upload (escrever) e ler
      allow write, read: if request.auth != null;

      // Apenas o admin pode deletar ou atualizar (se essa for a intenção)
      allow delete, update: if request.auth.token.role == 'admin';
    }
  }
}